Source: dartos-wallpapers
Section: misc
Priority: optional
Maintainer: Dart OS Developers <sys41x4@zohomail.com>
Uploaders: Arijit Bhowmick <cybersec.arijitbhowmick@gmail.com>,
           101 Bytes <sys41x4@gmail.com>,
Build-Depends: debhelper-compat (= 13),
               graphicsmagick-imagemagick-compat,
               optipng,
Standards-Version: 4.6.1
Rules-Requires-Root: no
Vcs-Git: https://gitlab.com/dart-os/packages/dartos-wallpapers.git
Vcs-Browser: https://gitlab.com/dart-os/packages/dartos-wallpapers

# Note: On next version bump, we can get rid of the breaks/replaces.

Package: dartos-wallpapers-all
Architecture: all
Depends: ${misc:Depends},
         dartos-wallpapers-2023,
         dartos-wallpapers-legacy,
Description: All wallpapers for Dart OS
 This metapackage depends on all dartos-wallpapers-* packages, providing all the
 wallpapers used for Dart OS and 101 Bytes

# The package is versioned so that it stays around on end-user systems whenever
# we introduce a new set of wallpapers, thus not breaking the user's background
# if user does select a non-default wallpaper.
Package: dartos-wallpapers-mobile-2023
Architecture: all
Depends: ${misc:Depends}
Description: Default wallpapers for Dart OS Mobile 2023 and newer
 This package contains multiple wallpapers for Dart OS Mobile 2023 and future
 releases.
 .
 If you have multiple dartos-wallpapers-YYYY.X packages on your system, you can
 remove them all except the latest which is a dependency of dartos-themes-common
 and is thus required.

# The package is versioned so that it stays around on end-user systems whenever
# we introduce a new set of wallpapers, thus not breaking the user's background
# if user does select a non-default wallpaper.
Package: dartos-wallpapers-2023
Architecture: all
Depends: ${misc:Depends}
Breaks: dartos-themes-common (<< 2020.4.4),
        dartos-wallpapers-2022 (<< 2023.1.0~),
Replaces: dartos-themes-common (<< 2020.4.4),
          dartos-wallpapers-2022 (<< 2023.1.0~),
Description: Default wallpapers for Dart OS 2023 and newer
 This package contains multiple wallpapers for Dart OS 2023 and future
 releases.
 .
 If you have multiple dartos-wallpapers-YYYY.X packages on your system, you can
 remove them all except the latest which is a dependency of dartos-themes-common
 and is thus required.

# The package is versioned so that it stays around on end-user systems whenever
# we introduce a new set of wallpapers, thus not breaking the user's background
# if user does select a non-default wallpaper.
Package: dartos-wallpapers-2022
Architecture: all
Depends: ${misc:Depends}
Breaks: dartos-themes-common (<< 2020.4.4),
        dartos-wallpapers-2021.4 (<< 2022.1.0~),
Replaces: dartos-themes-common (<< 2020.4.4),
          dartos-wallpapers-2021.4 (<< 2022.1.0~),
Description: Default wallpapers for Dart OS 2022 and newer
 This package contains multiple wallpapers for Dart OS 2022 and future
 releases.
 .
 If you have multiple dartos-wallpapers-YYYY.X packages on your system, you can
 remove them all except the latest which is a dependency of dartos-themes-common
 and is thus required.

Package: dartos-wallpapers-2021.1
Section: oldlibs
Architecture: all
Depends: ${misc:Depends},
         dartos-wallpapers-2022,
Description: Transitional package to install dartos-wallpapers-2022
 The package has been renamed dartos-wallpapers-2022.
 .


Package: dartos-wallpapers-legacy
Architecture: all
Depends: ${misc:Depends}
Breaks: dartos-legacy-wallpapers (<< 2023.1.1)
Replaces: dartos-legacy-wallpapers (<< 2023.1.1)
Description: Wallpapers used over the years
 Wallpapers and resources used over the years for 101 Bytes & Dart OS,
 used for nostalgic cosmetic value

Package: dartos-legacy-wallpapers
Section: oldlibs
Architecture: all
Depends: ${misc:Depends},
         dartos-wallpapers-legacy,
Description: Transitional package to install dartos-wallpapers-legacy
 The package has been renamed dartos-wallpapers-legacy and is part of
 the dartos-wallpapers source package now.
 .
 This dummy package can be safely removed once dartos-wallpapers-legacy
 is installed on the system.


